# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
appenv
.appenv/
.appenv/

# Ignore IDE files
.vscode/
.idea

# Ignore environment files
.appenv
*.appenv

# Ignore Alembic files (if applicable)


# Ignore other useless files
*.log
logs/
*.db
*.sqlite3

versions/__pycache__